<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Informations</title>
        <link rel="stylesheet" href="../css/Main.css">
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <script src="../js/livraison.js"></script>
    </head>
    <body id="body">
        <ul>
            <% livraison.forEach(function(livraison) { %>
                <% if(livreur === livraison.livreur ){ %>
                <li>
                <h3> Commande n°<%=livraison.id_livraison%></h3>
                <ul>
                <li><label> Identité : <%= livraison.nom%></label></li>

                <li><label> Adresse : <%= livraison.adresse%></label></li>
                
                <li><label> Prix total : <%= livraison.total%>$</label></li>
                    
                <li><label> Livreur : <%= livraison.livreur%></label></li>
                </ul>
                
                <h5> résumé de la commande </h5>
                <% elem_livraison.forEach(function(elem){ %>
                    <% if(elem.id_livraison === livraison.id_livraison){%>
                        <ul>
                            <li>
                            Type : <%= elem.type_plat%>
                            Nom : <%= elem.nom_plat%>
                            Prix : <%= elem.prix%>
                            <% if(elem.type_plat === "custom"){ %>
                                Compo : 
                                <% elem_custom.forEach(function(elem_c){ %>
                                    <%if(elem.x === elem_c.id_custom.toString()){%>
                                        <%= elem_c.nom %>
                                    <%}%>
                                <% }); %>
                            <% }else{%>
                                X : <%= elem.x%>
                            <% } %>
                            </li>
                        </ul>
                    <%}%>
                <% }); %>
                <form action="/livraison" method="POST">
                    <input type="hidden" value="<%=livraison.id_livraison%>" name="livre">
                    <input type="submit" value="Commande livrée" class="livrer col-sm-2"> 
                </form>   
                </li>
                <%}%>
            <% }); %>
        </ul>
    </body>
</html>