<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" href="../css/Main.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/Main.js"></script>
</head>
<body id="body"  data-spy="scroll" data-target=".navbar" data-offset="60">
<nav id="thenavbar" class="navbar sticky-top navbar-light bg-light navbar-expand-sm">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" aria-controls="mynavBar" aria-expanded="false" aria-label="Toggle navigation">
            <!-- affiche trois barres à la place des liens quand l'écran est
            petit -->
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-globe"></span></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul id="carte" class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#menus">Menu <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#entrées">Entrées</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#boissons">Boisson</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#pizzas">Pizza</a>
            </li>

        </ul>
    </div>
</nav>
<div class="container-fluid">
        <h1> Uber Ratus </h1>
        <div class id="menus">
            <h2>Menus</h2>
                <div id="div_extra" class ="menu row">
                    <label class="col-sm-2">Extra Menu</label>
                    <label class="price col-sm-2">30$</label>
                    <img id="preview" src="../images/fanta.png" class="col-sm-3">               
                    <input type="checkbox" class="col-sm-1">
                    <br>
                    <select id="extra_entree">
                        <%entrees.forEach(function(entree) {%>
                            <option value="<%=entree.id%>"><%=entree.nom%></option>
                        <%}); %>
                    </select>
                    <select id="extra_pizza">
                        <%pizzas.forEach(function(pizza) {%>
                            <option value="<%=pizza.id%>"><%=pizza.nom%></option>
                        <%}); %>
                    </select>
                    <select id="extra_boisson1">
                        <%boissons.forEach(function(boisson) {%>
                            <%if(boisson.volume == 33){%>
                                <option value="<%=boisson.id%>"><%=boisson.nom%></option>
                                <% }%>
                        <%}); %>
                    </select>
                    <select id="extra_boisson2">
                        <%boissons.forEach(function(boisson) {%>
                            <%if(boisson.volume == 33){%>
                            <option value="<%=boisson.id%>"><%=boisson.nom%></option>
                            <% }%>
                        <%}); %>
                    </select>
                </div>
        </div><br>
        <div class id="entrées">
            <h2>Entrées</h2>
            <% entrees.forEach(function(entree) { %>
                <div id="div_<%=entree.id %>" class="entree row">
                    <label id="nom_<%=entree.id%>" class="col-sm-2"><%= entree.nom%></label>
                    <label class="price col-sm-2" id="price_<%=entree.id%>"><%=entree.prix%>$</label>
                    <img id="preview" src="../images/<%=entree.id%>.jpg" class="col-sm-3">           
                    <select id="sauce_<%=entree.id%>" name="<%=entree.id%>" class="col-sm-2">
                        <option value="<%=entree.sauce1%>"><%=entree.sauce1%></option>
                        <option value="<%=entree.sauce2%>"><%=entree.sauce2%></option>
                    </select>
                    <input type="button" value="Ajouter au panier" name="<%=entree.id%>" id="<%=entree.id%>" class="col-sm-2">    
                </div><br>
            <% }); %>
        </div>
        <div class id="pizzas">
            <h2>Pizzas</h2>
            <% pizzas.forEach(function(pizza) { %>
                <div id="div_<%=pizza.id %>" class="pizza row">
                    <label id="nom_<%=pizza.id%>" class="col-sm-2"><%= pizza.nom%></label>
                    <label class="price col-sm-2" id="price_<%=pizza.id%>"><%=pizza.prix%>$</label>
                    <img id="preview" src="../images/<%=pizza.id%>.png" class="col-sm-3">
                    <select id="size_<%=pizza.id%>" name="<%=pizza.id%>" class="col-sm-2" >
                        <option value="LARGE">LARGE</option>
                        <option value="MEDIUM">MEDIUM</option>
                        <option value="SMALL">SMALL</option>
                    </select>
                    <input type="button" value="Ajouter au panier" name="<%=pizza.id%>" id="<%=pizza.id%>" class="col-sm-2">                        
                </div><br>
            <% }); %>

            <div id="div_custom">
                <label id="nom_custom" class="col-sm-2">Fais ta pizza !</label>
                <label class="price col-sm-2" id="price_custom">X$</label>
                <img id="preview" src="../images/composition.png" class="col-sm-3">
                <select id="size_custom" name="custom>" class="col-sm-2" >
                    <option value="LARGE">LARGE</option>
                    <option value="MEDIUM">MEDIUM</option>
                    <option value="SMALL">SMALL</option>
                </select>
                <br>
                <div id="ingredients">
                    <% for(var i=0;i<6;i++){ %>
                        <select>
                            <% ingredients.forEach(function(ingredient){ %>
                                <option><%=ingredient.nom%></option>
                            <% }); %>
                        </select>
                    <% }%>
                </div>
                <input type="button" value="Ajouter au panier" name="custom" id="custom" class="col-sm-2"> 
            </div>

        
        </div><br>
        <div class id="boissons">
            <h2>Boissons</h2>
            <% boissons.forEach(function(boisson) { %>
                <div id="div_<%=boisson.id %>" class="boisson row">
                    <label id="nom_<%=boisson.id%>" class="col-sm-2"><%= boisson.nom%></label>
                    <label id="vol_<%=boisson.id%>" class="col-sm-2"><%=boisson.volume%>cL</label>
                    <label class="price col-sm-2" id="price_<%=boisson.id%>"><%=boisson.prix%>$</label>
                    <img id="preview" src="../images/<%=boisson.id%>.png" class="col-sm-2">
                    <input type="button" value="Ajouter au panier" name="<%=boisson.id%>" id="<%=boisson.id%>" class="col-sm-2">                        
                </div><br>
            <% }); %>
        </div><br>
        <div>
        <form action="/formulaire" method="POST" class>
                <h2 id="test">Votre panier</h2> 
                <ul id="panier" class="panier" name="panier">
                </ul>
                <div id="total">
                    <p id="prix_total">Total : 0 $</p>
                </div>

            <div class="submit">
                <input id ="submit" class="submit" type="submit" value="Confirmer la commande" disabled>
            </div>
        </form>
        </div>
    </div>
    
</div>
<br>


</body>
</html>